<div class="mt-3 mx-5 text-white">
    <div class="mx-5 py-1">
        <a class="btn btn-block btn-social btn-google" href="/auth/google">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </div>
    <div class="mx-5 py-1">
        <a class="btn btn-block btn-social btn-github">
            <span class="fa fa-github"></span> Sign in with GitHub
        </a>
    </div>
</div>
